<div class="loginPage">
    <div class="loginPage__background"></div>
    <div class="loginPage__background-hover"></div>

    <!--login form-->
    <div class="loginPage__box fadeInDown animated">
        <div class="loginPage__logo-header">Booking Hooliday</div>
        <div class="loginPage__form">
            <form >
                <div class="form-group">
                    <input type="email" placeholder="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="password" class="form-control"  name="password"/>
                </div>
                <div class="loginPage__forgot">
                    <span class="link" (click)="switchForms(false, true)">Forgot password?</span>
                </div>
                <div class="form-group form-group__submit">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Sign In</button>
                </div>
            </form>
        </div>
        <div class="loginPage__registerInfo">Still no account? Please go to <span class="registerLink">Register</span></div>
        <div class="loginPage__copyrights">&copy; 2016. All RIGHT RESERVED.</div>
    </div>
</div>
